@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "color.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--dark-color-a);
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.container {
  padding-left: 30px;
  margin-left: 209px;
  font-family: "Mulish", sans-serif;
}
.container .row {
  padding: 0px 15px;
}
.container .row .col .card {
  height: 130px;
  border-radius: 8px;
}

.container .row .col .card .card-title {
  font-weight: bold;
  font-size: 19px;
  padding-top: 8px;
}
.container .row .col .card h1 {
  font-weight: bold;
  font-size: 40px;
}

.container .container-dashboard {
  display: flex;
  width: 100%;
  padding: 30px 15px;
}
.container .container-dashboard .card {
  border-radius: 8px;
  border-color: #dfe0eb;
}
.container-dashboard .aktivitas-terkini {
  width: 49%;
}
.card-header {
  font-weight: bold;
  font-size: 19px;
  background-color: transparent;
  color: #192a3e;
  border-color: #ebeff2;
  padding: 20px 30px;
  padding-bottom: 10px;
}
.card-body {
  padding: 20px;
}

.list-aktivitas {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.list-aktivitas #see-more {
  display: none;
}
.list-aktivitas .card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: none;
  font-family: "Poppins";
  padding: 20px;
  margin: 20px 0px;
}

.list-aktivitas .card .card-title {
  font-weight: 500;
  font-size: 15px;
}
.card-detail {
  display: flex;
}
.card-detail .tanggal {
  padding-right: 8px;
  font-weight: 400;
  font-size: 13px;
  color: #4c5862;
  opacity: 50%;
}
.card-detail .date {
  font-weight: 400;
  font-size: 13px;
  color: #4c5862;
}
.card-info {
  display: flex;
  width: 100%;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
}
.card-avatar,
.card-avatar img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.card-avatar-name {
  font-size: 13px;
  font-weight: 400;
  color: #707683;
}
.card-status {
  margin-left: auto;
  width: 84px;
  height: 22px;
  padding: 2px;
  background-color: #29cc97;
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}
.container-dashboard .laporan {
  width: 51%;
  padding-left: 2%;
}
.container-dashboard .card .card-body {
  padding: 0;
}
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}
.category button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}
.category .show-category {
  color: rgb(63, 106, 247);
  font-size: 12px;
}
.fa-caret-down {
  color: #aeaeae;
  padding-left: 5px;
}
.graph {
  padding: 1rem 1rem;
}
.dropdown-graph-category {
  display: none;
}
.dropdown-graph-category.show {
  display: block;
}
.dropdown-graph-category .show-category {
  width: 100%;
  padding-right: 15px;
  color: #707683;
  cursor: pointer;
}
.dropdown-graph-category .show-category:hover {
  background-color: #e5e5e5;
}
.list-instansi {
  padding-bottom: 10px;
}
.list-instansi p {
  font-size: 14px;
}
.list-instansi .card-instansi {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-instansi {
  padding-top: 7px;
  padding-bottom: 10px;
}
.card-instansi span {
  padding: 20px 30px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #9fa2b4;
}

.btn-primary {
  background-color: var(--dark-blue-color);
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins";
  border: none;
  outline: none;
  color: white;
}
.list-fitur .btn-primary {
  position: relative;
  margin-bottom: 10px;
  padding: 10px 15px;
  margin-left: 15px;
  margin-right: 0;
}
.btn-primary:hover {
  background-color: #112953;
}
.btn-primary:focus {
  background-color: #112953;
}
.btn-primary span {
  margin-right: 5px;
}
.container-list {
  margin-left: 30px;
  padding-top: 60px;
}
.container-list .card .card-body {
  padding: 0;
}
.container-list .card-header,
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 20px;
  padding-bottom: 10px;
}
.header h5 {
  font-size: 19px;
  font-weight: 700;
}
.container-list .list-fitur {
  display: flex;
  color: #9fa2b4;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
}
.list-fitur .fitur {
  border: none;
  outline: none;
  background-color: transparent;
  color: #4b506d;
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
}
.list-fitur .fitur span {
  color: #c5c7cd;
  margin-right: 5px;
}
.form-input {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #c5c7cd;
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 300px;
}
.form-input input {
  border: none;
  background-color: transparent;
  padding-left: 10px;
  width: 90%;
}
.form-input input::placeholder {
  color: #9fa2b4;
  font-weight: 500;
  font-size: 14px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-input input:focus {
  outline: none;
}
.form-input label {
  color: #c5c7cd;
}

/* table css */
.table-header {
  align-items: center;
  padding: 0px 20px;
  padding-right: 60px;
  border-bottom: 1.5px solid #dfe0eb;
}
.table-header {
  font-size: 14px;
  font-weight: 700;
  color: #9fa2b4;
}

.list-tiket {
  display: flex;
  width: 100%;
  /* padding: 0px 20px; */
  /* padding-right: 60px; */
  justify-content: space-between;
}
.list-tiket .detail-tiket,
.list-tiket .nama-instansi,
.list-tiket .status-tiket,
.list-tiket .tanggal-selesai {
  display: flex;
  width: 100%;
}
.list-tiket .detail-tiket {
  align-items: center;
}
.list-tiket .status-tiket .status {
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 91px;
  text-align: center;
}
.list-tiket .status-tiket .status.open {
  background-color: var(--open-color);
}
.list-tiket .status-tiket .status.close {
  background-color: var(--close-color);
}
.list-tiket .status-tiket .status.pending {
  background-color: var(--pending-color);
}

.detail-tiket img {
  width: 40px;
  margin-right: 10px;
}
.list-tiket .detail-text {
  display: flex;
  flex-direction: column;
}
tr.list {
  cursor: pointer;
}
tr.list:hover {
  background-color: #f7f8ff;
}
tr .tiket {
  padding: 20px 20px;
  border-bottom: 1.5px solid #dfe0eb;
}
tr .tiket:nth-child(4) {
  padding-left: 20px;
}
.text-atas {
  font-size: 14px;
  font-weight: 700;
}
.text-bawah {
  font-size: 12px;
  font-weight: 500;
  color: #c5c7cd;
}
.aksi {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.aksi .edit {
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  width: 91px;
  text-align: center;
  background-color: var(--bs-success);
  margin-bottom: 10px;
  cursor: pointer;
}
.aksi .edit:hover {
  background-color: #157347;
}

.aksi .hapus {
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  width: 91px;
  text-align: center;
  cursor: pointer;
  background-color: var(--bs-danger);
}
.aksi .hapus:hover {
  background-color: #bb2d3b;
}
































* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.cara {
  color: #21427C;
  font-size: 22px;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -30%;
  padding-left: 55%;
  padding-right: 60px;
}

/* Number text (1/3 etc) */
.numbertext {   
  position: absolute;
}
 .bg{   
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 36px;
  margin-top: 11px;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #CEDDF9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.aktif, .dot:hover {
  background-color: #4D7BE4;
}

#btn-see-more {
  border: none;
  outline: none;
  padding: 0px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  background-color: white;
  color: var(--blue-color);
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
}
#btn-see-more:hover {
  color: #73a6ff;
}